## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [1]:
import random

⚠️ Did you get: module not found? Try, in a cell: <br>
`!pip install random`<br>
`import random`

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [6]:
# Your code here
sample_list_1 = random.sample(range(100), 80)
print(sample_list_1)

[33, 65, 78, 40, 74, 14, 32, 56, 50, 36, 7, 98, 6, 37, 91, 44, 84, 21, 19, 99, 82, 29, 24, 95, 30, 51, 34, 13, 85, 70, 41, 31, 42, 69, 76, 1, 49, 66, 43, 57, 54, 72, 2, 94, 39, 26, 89, 52, 64, 75, 45, 12, 73, 55, 38, 58, 3, 8, 79, 71, 63, 61, 96, 17, 81, 77, 88, 22, 27, 0, 68, 90, 4, 53, 47, 97, 5, 46, 20, 35]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [62]:
# Your code here
set1 = set(sample_list_1)
len(set1)

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [10]:
# Your code here
sample_list_2 = []
for i in range(0,80):
    sample_list_2.append(random.randint(0,100))
print(sample_list_2)

[28, 17, 10, 67, 7, 39, 47, 8, 56, 79, 38, 60, 40, 74, 20, 92, 36, 27, 7, 87, 25, 27, 58, 2, 59, 29, 93, 97, 50, 23, 26, 10, 31, 40, 38, 7, 5, 99, 5, 59, 89, 18, 29, 12, 34, 9, 13, 99, 98, 23, 88, 92, 26, 40, 17, 14, 26, 31, 26, 38, 79, 17, 5, 41, 15, 98, 20, 26, 61, 72, 98, 22, 89, 34, 31, 100, 85, 18, 12, 40]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [13]:
# Your code here
set2 = set(sample_list_2)
len(set2)

#the lenght in now 48

48

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [14]:
# Your code here
set3 = set1.difference(set2)
print(set3)

{0, 1, 3, 4, 6, 19, 21, 24, 30, 32, 33, 35, 37, 42, 43, 44, 45, 46, 49, 51, 52, 53, 54, 55, 57, 63, 64, 65, 66, 68, 69, 70, 71, 73, 75, 76, 77, 78, 81, 82, 84, 90, 91, 94, 95, 96}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [15]:
# Your code here
set4 = set2.difference(set1)
print(set4)

{67, 100, 9, 10, 60, 15, 92, 18, 87, 23, 25, 59, 28, 93}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [16]:
# Your code here
set5 = set2.intersection(set1)
print(set5)

{2, 5, 7, 8, 12, 13, 14, 17, 20, 22, 26, 27, 29, 31, 34, 36, 38, 39, 40, 41, 47, 50, 56, 58, 61, 72, 74, 79, 85, 88, 89, 97, 98, 99}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formula to represent that relationship. Test your formula with Python code. Eg.: 

- my age is 30
- my son is 10
- my dad's twice my age
- my grandmother is three times my age minus my son's_age


A formula relating all these values would be:

`my_grandmother = my_age + my_dad's_age - my_sons_age`

Does this evaluate to True or to False?

In [63]:
# Your code here
# set1 + set2 = set3 + set4 + set5
soma1 = set1.union(set2)
soma2 = set3.union(set4, set5)

if (soma1 == soma2):
    print("True")
else:
    print("False")

True

#### Create an empty set called `set6`.

In [32]:
# Your code here
set6 = set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [35]:
# Your code here
set6.update(set3)
set6.update(set5)
print(set6)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 12, 13, 14, 17, 19, 20, 21, 22, 24, 26, 27, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 61, 63, 64, 65, 66, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 81, 82, 84, 85, 88, 89, 90, 91, 94, 95, 96, 97, 98, 99}

#### Check if `set1` and `set6` are equal.

In [36]:
# Your code here
if (set1 == set6):
    print("THEY ARE EQUAL")

THEY ARE EQUAL

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [40]:
# Your code here
print(set2.issubset(set1))
set3.issubset(set1)

False

True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [46]:
# Your code here
set_u1 = set3.union(set4,set5)

set_u2 = set1.union(set2)
print(set_u1, set_u2)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 12, 13, 14, 15, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 81, 82, 84, 85, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100} {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 12, 13, 14, 15, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 81, 82, 84, 85, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100}

#### Using the `pop` method, remove the first element from `set1`.

In [64]:
# Your code here
set1.pop()

0

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [67]:
# Your code here
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
list(set1)

for a in list_to_remove:
    if a in set1:
        set1.remove(a)

print(set1)

{2, 3, 4, 5, 6, 7, 8, 12, 13, 14, 17, 20, 22, 24, 26, 27, 30, 32, 33, 34, 35, 36, 37, 38, 40, 42, 43, 44, 45, 46, 47, 50, 52, 53, 54, 55, 56, 57, 58, 63, 64, 65, 66, 68, 70, 72, 73, 74, 75, 76, 77, 78, 82, 84, 85, 88, 90, 94, 95, 96, 97, 98}