## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [ ]:
import random

⚠️ Did you get: module not found? Try, in a cell: <br>
`!pip install random`<br>
`import random`

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [42]:
import random
sample_list_1 = random.sample(range(101),80)
print(sample_list_1)

[99, 17, 51, 10, 5, 8, 40, 33, 91, 23, 27, 21, 69, 86, 93, 66, 60, 44, 41, 16, 25, 15, 76, 82, 88, 20, 77, 50, 32, 7, 89, 80, 49, 61, 29, 59, 90, 83, 53, 92, 42, 9, 46, 58, 1, 31, 68, 45, 75, 6, 34, 12, 43, 95, 39, 35, 67, 64, 54, 100, 84, 78, 26, 62, 4, 70, 74, 38, 14, 2, 36, 18, 55, 72, 63, 81, 87, 56, 37, 48]

In [43]:
len(sample_list_1)

80

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [44]:
set1=set(sample_list_1)
print(set1)

{1, 2, 4, 5, 6, 7, 8, 9, 10, 12, 14, 15, 16, 17, 18, 20, 21, 23, 25, 26, 27, 29, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 48, 49, 50, 51, 53, 54, 55, 56, 58, 59, 60, 61, 62, 63, 64, 66, 67, 68, 69, 70, 72, 74, 75, 76, 77, 78, 80, 81, 82, 83, 84, 86, 87, 88, 89, 90, 91, 92, 93, 95, 99, 100}

In [45]:
len(set1)

80

In [ ]:
#yes, theyhave the same lenght as the are unique values (if there were repeated they were eliminated and therefore the lenght would be shorter)

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [46]:
import random
sample_list_2 = []

for i in range(80):
    sample_list_2.append(random.randint(0, 100))
print(sample_list_2)

[54, 68, 80, 70, 46, 9, 27, 36, 28, 11, 25, 45, 94, 36, 12, 86, 19, 74, 2, 53, 33, 18, 23, 96, 57, 92, 31, 38, 35, 50, 11, 50, 86, 73, 56, 90, 24, 12, 53, 17, 83, 89, 54, 21, 27, 24, 74, 33, 62, 70, 49, 63, 56, 53, 80, 24, 93, 19, 38, 5, 88, 19, 78, 16, 99, 92, 10, 75, 39, 67, 14, 80, 73, 10, 90, 77, 1, 12, 42, 58]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [47]:
set2=set(sample_list_2)
len(set2)

55

In [ ]:
#it's not the same lenght as the repeated values had been removed because sets the values are unique

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.I

In [48]:
print(set1)

{1, 2, 4, 5, 6, 7, 8, 9, 10, 12, 14, 15, 16, 17, 18, 20, 21, 23, 25, 26, 27, 29, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 48, 49, 50, 51, 53, 54, 55, 56, 58, 59, 60, 61, 62, 63, 64, 66, 67, 68, 69, 70, 72, 74, 75, 76, 77, 78, 80, 81, 82, 83, 84, 86, 87, 88, 89, 90, 91, 92, 93, 95, 99, 100}

In [49]:
print(set2)

{1, 2, 5, 9, 10, 11, 12, 14, 16, 17, 18, 19, 21, 23, 24, 25, 27, 28, 31, 33, 35, 36, 38, 39, 42, 45, 46, 49, 50, 53, 54, 56, 57, 58, 62, 63, 67, 68, 70, 73, 74, 75, 77, 78, 80, 83, 86, 88, 89, 90, 92, 93, 94, 96, 99}

In [57]:
len(set2)

55

In [50]:
set3=set1.difference(set2)
print(set3)

{4, 6, 7, 8, 15, 20, 26, 29, 32, 34, 37, 40, 41, 43, 44, 48, 51, 55, 59, 60, 61, 64, 66, 69, 72, 76, 81, 82, 84, 87, 91, 95, 100}

In [56]:
len(set3)

33

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [51]:
set4=set2.difference(set1)
print(set4)

{96, 73, 11, 19, 24, 57, 28, 94}

In [55]:
len(set4)

8

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [52]:
set5=set1.intersection(set2)
print(set5)

{1, 2, 5, 9, 10, 12, 14, 16, 17, 18, 21, 23, 25, 27, 31, 33, 35, 36, 38, 39, 42, 45, 46, 49, 50, 53, 54, 56, 58, 62, 63, 67, 68, 70, 74, 75, 77, 78, 80, 83, 86, 88, 89, 90, 92, 93, 99}

In [53]:
len(set5)

47

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formula to represent that relationship. Test your formula with Python code. Eg.: 

- my age is 30
- my son is 10
- my dad's twice my age
- my grandmother is three times my age minus my son's_age


A formula relating all these values would be:

`my_grandmother = my_age + my_dad's_age - my_sons_age`

Does this evaluate to True or to False?

In [60]:
print(len(set1),"is set1")
print(len(set2), "is set2")
print(len(set3), "is set3")
print(len(set4), "is seat4")
print(len(set5), "is seat5")

80 is set1
55 is set2
33 is set3
8 is seat4
47 is seat5

In [62]:
print(len(set1)==(len(set5)+len(set3)))
print(len(set2)==(len(set5)+len(set4)))

True
True

#### Create an empty set called `set6`.

In [80]:
set6=set()
type(print(set))

<class 'set'>

NoneType

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [81]:
print(set3)

{1, 2, 4, 5, 6, 7, 8, 9, 10, 12, 14, 15, 16, 17, 18, 20, 21, 23, 25, 26, 27, 29, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 48, 49, 50, 51, 53, 54, 55, 56, 58, 59, 60, 61, 62, 63, 64, 66, 67, 68, 69, 70, 72, 74, 75, 76, 77, 78, 80, 81, 82, 83, 84, 86, 87, 88, 89, 90, 91, 92, 93, 95, 99, 100}

In [82]:
print(set5)

{1, 2, 5, 9, 10, 12, 14, 16, 17, 18, 21, 23, 25, 27, 31, 33, 35, 36, 38, 39, 42, 45, 46, 49, 50, 53, 54, 56, 58, 62, 63, 67, 68, 70, 74, 75, 77, 78, 80, 83, 86, 88, 89, 90, 92, 93, 99}

In [83]:
set6.update(set3,set5)
print(set6)

{1, 2, 4, 5, 6, 7, 8, 9, 10, 12, 14, 15, 16, 17, 18, 20, 21, 23, 25, 26, 27, 29, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 48, 49, 50, 51, 53, 54, 55, 56, 58, 59, 60, 61, 62, 63, 64, 66, 67, 68, 69, 70, 72, 74, 75, 76, 77, 78, 80, 81, 82, 83, 84, 86, 87, 88, 89, 90, 91, 92, 93, 95, 99, 100}

#### Check if `set1` and `set6` are equal.

In [84]:
set1 == set6

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [87]:
print(set2.issubset(set1))

False

In [86]:
print(set1.issubset(set3))

True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [94]:
set7=set5.union(set3,set4)
print(set7)

{1, 2, 4, 5, 6, 7, 8, 9, 10, 11, 12, 14, 15, 16, 17, 18, 19, 20, 21, 23, 24, 25, 26, 27, 28, 29, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 48, 49, 50, 51, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 66, 67, 68, 69, 70, 72, 73, 74, 75, 76, 77, 78, 80, 81, 82, 83, 84, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 99, 100}

In [99]:
set8=set7.union(set2,set1)
print(set8)

{1, 2, 4, 5, 6, 7, 8, 9, 10, 11, 12, 14, 15, 16, 17, 18, 19, 20, 21, 23, 24, 25, 26, 27, 28, 29, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 48, 49, 50, 51, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 66, 67, 68, 69, 70, 72, 73, 74, 75, 76, 77, 78, 80, 81, 82, 83, 84, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 99, 100}

In [100]:
if set8 == set7:
    print("True")

True

In [ ]:
Set7 and set8 are equal

#### Using the `pop` method, remove the first element from `set1`.

In [96]:
print(set1)

{1, 2, 4, 5, 6, 7, 8, 9, 10, 12, 14, 15, 16, 17, 18, 20, 21, 23, 25, 26, 27, 29, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 48, 49, 50, 51, 53, 54, 55, 56, 58, 59, 60, 61, 62, 63, 64, 66, 67, 68, 69, 70, 72, 74, 75, 76, 77, 78, 80, 81, 82, 83, 84, 86, 87, 88, 89, 90, 91, 92, 93, 95, 99, 100}

In [102]:
delete_first=set1.pop()
print(set1)

{2, 4, 5, 6, 7, 8, 9, 10, 12, 14, 15, 16, 17, 18, 20, 21, 23, 25, 26, 27, 29, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 48, 49, 50, 51, 53, 54, 55, 56, 58, 59, 60, 61, 62, 63, 64, 66, 67, 68, 69, 70, 72, 74, 75, 76, 77, 78, 80, 81, 82, 83, 84, 86, 87, 88, 89, 90, 91, 92, 93, 95, 99, 100}

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [105]:
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
for item in list_to_remove:
    if item in set1:
        set1.remove(item)
print(set1)

{2, 4, 5, 6, 7, 8, 10, 12, 14, 15, 16, 17, 18, 20, 23, 25, 26, 27, 32, 33, 34, 35, 36, 37, 38, 40, 42, 43, 44, 45, 46, 48, 50, 53, 54, 55, 56, 58, 60, 62, 63, 64, 66, 67, 68, 70, 72, 74, 75, 76, 77, 78, 80, 82, 83, 84, 86, 87, 88, 90, 92, 93, 95, 100}