## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [3]:
import random

⚠️ Did you get: module not found? Try, in a cell: <br>
`!pip install random`<br>
`import random`

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [4]:
# Your code here
import random


sample_list_1 = random.sample(range(101), 80)


print(sample_list_1)

[91, 17, 61, 93, 11, 38, 20, 72, 73, 56, 47, 1, 98, 70, 62, 84, 27, 52, 23, 77, 99, 96, 26, 39, 3, 71, 22, 31, 82, 9, 78, 51, 35, 64, 80, 33, 95, 12, 43, 4, 34, 15, 87, 10, 42, 45, 13, 40, 7, 79, 8, 25, 49, 6, 89, 68, 18, 76, 37, 65, 55, 88, 44, 28, 32, 46, 2, 5, 75, 16, 29, 90, 100, 30, 69, 50, 53, 57, 0, 24]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [21]:
# Your code here
sample_list_1 = [91, 17, 61, 93, 11, 38, 20, 72, 73, 56, 47, 1, 98, 70, 62, 84, 27, 52, 23, 77, 99, 96, 26, 39, 3, 71, 22, 31, 82, 9, 78, 51, 35, 64, 80, 33, 95, 12, 43, 4, 34, 15, 87, 10, 42, 45, 13, 40, 7, 79, 8, 25, 49, 6, 89, 68, 18, 76, 37, 65, 55, 88, 44, 28, 32, 46, 2, 5, 75, 16, 29, 90, 100, 30, 69, 50, 53, 57, 0, 24]
set1 = set(sample_list_1)
print(set1)
len(set1)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 15, 16, 17, 18, 20, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 37, 38, 39, 40, 42, 43, 44, 45, 46, 47, 49, 50, 51, 52, 53, 55, 56, 57, 61, 62, 64, 65, 68, 69, 70, 71, 72, 73, 75, 76, 77, 78, 79, 80, 82, 84, 87, 88, 89, 90, 91, 93, 95, 96, 98, 99, 100}

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [12]:
# Your code here

sample_list_2 = [random.randint(0, 100) for i in range(80)]


print(sample_list_2)

[38, 77, 68, 97, 87, 69, 67, 21, 68, 13, 86, 10, 76, 12, 86, 47, 34, 89, 9, 97, 5, 56, 59, 40, 6, 70, 39, 58, 88, 49, 46, 4, 38, 83, 9, 79, 86, 20, 47, 4, 4, 9, 48, 26, 79, 85, 75, 95, 17, 43, 54, 6, 96, 40, 12, 65, 32, 65, 15, 41, 1, 77, 99, 47, 31, 62, 89, 53, 18, 79, 6, 38, 21, 29, 44, 9, 7, 52, 21, 60]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [20]:
# Your code here
sample_list_2 = [38, 77, 68, 97, 87, 69, 67, 21, 68, 13, 86, 10, 76, 12, 86, 47, 34, 89, 9, 97, 5, 56, 59, 40, 6, 70, 39, 58, 88, 49, 46, 4, 38, 83, 9, 79, 86, 20, 47, 4, 4, 9, 48, 26, 79, 85, 75, 95, 17, 43, 54, 6, 96, 40, 12, 65, 32, 65, 15, 41, 1, 77, 99, 47, 31, 62, 89, 53, 18, 79, 6, 38, 21, 29, 44, 9, 7, 52, 21, 60]
set2 = set(sample_list_2)
print(set2)
len(set2)

{1, 4, 5, 6, 7, 9, 10, 12, 13, 15, 17, 18, 20, 21, 26, 29, 31, 32, 34, 38, 39, 40, 41, 43, 44, 46, 47, 48, 49, 52, 53, 54, 56, 58, 59, 60, 62, 65, 67, 68, 69, 70, 75, 76, 77, 79, 83, 85, 86, 87, 88, 89, 95, 96, 97, 99}

56

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [22]:
# Your code here

set3 = set1.difference(set2)
print(set3)

{0, 2, 3, 8, 11, 16, 22, 23, 24, 25, 27, 28, 30, 33, 35, 37, 42, 45, 50, 51, 55, 57, 61, 64, 71, 72, 73, 78, 80, 82, 84, 90, 91, 93, 98, 100}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [23]:
# Your code here
set4 = set2.difference(set1)
print(set4)

{97, 67, 41, 48, 83, 21, 54, 85, 86, 58, 59, 60}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [26]:
# Your code here
set5 = set1.intersection(set2)
print(set5)

{1, 4, 5, 6, 7, 9, 10, 12, 13, 15, 17, 18, 20, 26, 29, 31, 32, 34, 38, 39, 40, 43, 44, 46, 47, 49, 52, 53, 56, 62, 65, 68, 69, 70, 75, 76, 77, 79, 87, 88, 89, 95, 96, 99}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formula to represent that relationship. Test your formula with Python code. Eg.: 

- my age is 30
- my son is 10
- my dad's twice my age
- my grandmother is three times my age minus my son's_age


A formula relating all these values would be:

`my_grandmother = my_age + my_dad's_age - my_sons_age`

Does this evaluate to True or to False?

In [36]:
# Your code here

len(set1) == len(set3) + len(set5)
len(set2) == len(set4) + len(set5)

True

#### Create an empty set called `set6`.

In [44]:
# Your code here
set6 = set()
print(set6)

set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [39]:
# Your code here

set3 = {0, 2, 3, 8, 11, 16, 22, 23, 24, 25, 27, 28, 30, 33, 35, 37, 42, 45, 50, 51, 55, 57, 61, 64, 71, 72, 73, 78, 80, 82, 84, 90, 91, 93, 98, 100}
set5 = {1, 4, 5, 6, 7, 9, 10, 12, 13, 15, 17, 18, 20, 26, 29, 31, 32, 34, 38, 39, 40, 43, 44, 46, 47, 49, 52, 53, 56, 62, 65, 68, 69, 70, 75, 76, 77, 79, 87, 88, 89, 95, 96, 99}
set6 = set()

set6.update(set3, set5)
print(set6)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 15, 16, 17, 18, 20, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 37, 38, 39, 40, 42, 43, 44, 45, 46, 47, 49, 50, 51, 52, 53, 55, 56, 57, 61, 62, 64, 65, 68, 69, 70, 71, 72, 73, 75, 76, 77, 78, 79, 80, 82, 84, 87, 88, 89, 90, 91, 93, 95, 96, 98, 99, 100}

#### Check if `set1` and `set6` are equal.

In [40]:
# Your code here


if set1 == set6:
    print("set1 and set6 are equal")
else:
    print("set1 and set6 are not equal")

set1 and set6 are equal

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [42]:
# Your code here
if set2.issubset(set1):
    print("set1 contains set2")
else:
    print("set1 does not contain set2")

if set3.issubset(set1):
    print("set1 contains set3")
else:
    print("set1 does not contain set3")

set1 does not contain set2
set1 contains set3

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [43]:
# Your code here


set345 = set3.union(set4, set5)
set12 = set1.union(set2)

print(set345)  
print(set12)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 15, 16, 17, 18, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 64, 65, 67, 68, 69, 70, 71, 72, 73, 75, 76, 77, 78, 79, 80, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 93, 95, 96, 97, 98, 99, 100}
{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 15, 16, 17, 18, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 64, 65, 67, 68, 69, 70, 71, 72, 73, 75, 76, 77, 78, 79, 80, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 93, 95, 96, 97, 98, 99, 100}

#### Using the `pop` method, remove the first element from `set1`.

In [45]:
# Your code here

removed_element = set1.pop()

print("Removed element:", removed_element)
print("New set1:", set1)

Removed element: 0
New set1: {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 15, 16, 17, 18, 20, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 37, 38, 39, 40, 42, 43, 44, 45, 46, 47, 49, 50, 51, 52, 53, 55, 56, 57, 61, 62, 64, 65, 68, 69, 70, 71, 72, 73, 75, 76, 77, 78, 79, 80, 82, 84, 87, 88, 89, 90, 91, 93, 95, 96, 98, 99, 100}

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [50]:
# Your code here
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

for element in list_to_remove:
    if element in set1:
        set1.remove(element)
        
print("Remaining elements in set1:", set1)

Remaining elements in set1: {2, 3, 4, 5, 6, 7, 8, 10, 12, 13, 15, 16, 17, 18, 20, 22, 23, 24, 25, 26, 27, 28, 30, 32, 33, 34, 35, 37, 38, 40, 42, 43, 44, 45, 46, 47, 50, 52, 53, 55, 56, 57, 62, 64, 65, 68, 70, 72, 73, 75, 76, 77, 78, 80, 82, 84, 87, 88, 90, 93, 95, 96, 98, 100}