## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [43]:
import random

⚠️ Did you get: module not found? Try, in a cell: <br>
`!pip install random`<br>
`import random`

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [6]:
import random
sample_list_1 = random.sample(range(100), 80)
print("Sample List:", sample_list_1)

Sample List: [37, 41, 71, 90, 99, 57, 30, 56, 78, 79, 52, 54, 61, 24, 34, 46, 86, 21, 0, 64, 97, 35, 12, 82, 10, 31, 40, 23, 62, 72, 75, 15, 77, 88, 43, 22, 50, 29, 1, 73, 84, 42, 95, 87, 66, 59, 3, 17, 27, 36, 26, 83, 89, 19, 39, 85, 47, 16, 48, 32, 51, 20, 74, 28, 44, 18, 4, 58, 6, 70, 14, 60, 80, 13, 9, 76, 93, 45, 25, 55]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [40]:
import random

sample_list_1 = random.sample(range(100), 80)
print("Sample List:", sample_list_1)

set1 = set(sample_list_1)
print("Set: ",len(set1))

Sample List: [17, 21, 79, 85, 74, 93, 71, 9, 59, 53, 67, 44, 43, 77, 99, 4, 14, 27, 12, 5, 22, 66, 68, 3, 30, 23, 82, 36, 63, 88, 81, 11, 15, 51, 97, 26, 87, 52, 37, 48, 20, 19, 58, 46, 13, 38, 72, 60, 35, 32, 33, 39, 6, 0, 89, 29, 41, 90, 70, 2, 91, 10, 78, 94, 62, 45, 56, 8, 61, 47, 92, 73, 40, 64, 96, 80, 28, 55, 50, 25]
Set:  80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [13]:
import random

sample_list_2 = []
for i in range(80):
    sample_list_2.append(random.randint(0, 100))

print(sample_list_2)

[75, 81, 13, 83, 0, 34, 48, 70, 60, 26, 11, 77, 38, 83, 68, 16, 49, 19, 46, 94, 38, 68, 47, 0, 29, 99, 87, 56, 98, 37, 64, 24, 65, 94, 42, 21, 68, 63, 43, 42, 83, 59, 10, 78, 23, 1, 18, 7, 92, 41, 29, 34, 92, 43, 90, 56, 76, 9, 78, 65, 1, 9, 11, 93, 5, 9, 66, 93, 90, 9, 25, 43, 77, 97, 9, 9, 93, 66, 51, 18]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [14]:
import random

sample_list_2 = []
for i in range(80):
    sample_list_2.append(random.randint(0, 100))

set2 = set(sample_list_2)

print(len(set2))
print(len(set2) == 80)

59
False

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [15]:
set3 = set1 - set2
print(set3)

{2, 4, 6, 8, 11, 12, 18, 19, 23, 25, 27, 28, 38, 46, 52, 53, 59, 60, 63, 66, 68, 74, 76, 77, 81, 85, 87, 89, 90, 94, 95, 96, 97, 98}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [16]:
set4 = set2 - set1
print(set4)

{0, 100, 5, 75, 15, 80, 49, 50, 56, 57, 26, 92, 62}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [17]:
set5 = set1.intersection(set2)
print(set5)

{1, 3, 7, 13, 14, 16, 17, 20, 21, 22, 24, 29, 30, 31, 32, 34, 35, 36, 37, 39, 41, 43, 44, 45, 47, 54, 55, 58, 61, 64, 65, 67, 69, 70, 71, 72, 73, 79, 82, 83, 84, 86, 88, 91, 93, 99}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formula to represent that relationship. Test your formula with Python code. Eg.: 

- my age is 30
- my son is 10
- my dad's twice my age
- my grandmother is three times my age minus my son's_age


A formula relating all these values would be:

`my_grandmother = my_age + my_dad's_age - my_sons_age`

Does this evaluate to True or to False?

In [42]:
#Set 1 and 2 have nothing in common
#The unique elements in set 1 that aren't in set 2, make set 3
#The unique elements in set 3 that aren't in set 1, make set 4
#The elements in common in set 1 and 2 make set 5

#### Create an empty set called `set6`.

In [26]:
set6 = set()
set6

set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [27]:
set6.update(set3)
set6.update(set5)

set6

{0,
 1,
 2,
 3,
 4,
 5,
 6,
 8,
 9,
 11,
 12,
 14,
 15,
 16,
 18,
 19,
 20,
 21,
 22,
 24,
 25,
 27,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 39,
 40,
 41,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 53,
 54,
 56,
 57,
 58,
 59,
 61,
 64,
 65,
 67,
 68,
 69,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 81,
 82,
 83,
 85,
 87,
 88,
 89,
 90,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 100}

#### Check if `set1` and `set6` are equal.

In [28]:
if set1 == set6:
    print("equal")
else:
    print("not equal")

equal

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [29]:
if set2.issubset(set1):
    print("set2 is a subset of set1")
else:
    print("set2 is not a subset of set1")

if set3.issubset(set1):
    print("set3 is a subset of set1")
else:
    print("set3 is not a subset of set1")

set2 is not a subset of set1
set3 is a subset of set1

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [30]:
set345 = set3.union(set4, set5)
set12 = set1.union(set2)

if set345 == set12:
    print("The aggregated sets are equal")
else:
    print("The aggregated sets are not equal")

The aggregated sets are equal

#### Using the `pop` method, remove the first element from `set1`.

In [38]:
first_element = set1.pop(0)
print(set1)
print(first_element)

TypeError: set.pop() takes no arguments (1 given)

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [33]:
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

for element in list_to_remove:
    if element in set1:
        set1.remove(element)

print(set1)

{2, 3, 4, 5, 6, 8, 12, 14, 15, 16, 18, 20, 22, 24, 25, 27, 30, 32, 33, 34, 35, 36, 37, 40, 43, 44, 45, 46, 47, 48, 50, 53, 54, 56, 57, 58, 64, 65, 67, 68, 72, 73, 74, 75, 76, 77, 78, 82, 83, 85, 87, 88, 90, 92, 93, 94, 95, 96, 97, 98, 100}