## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [1]:
import random

⚠️ Did you get: module not found? Try, in a cell: <br>
`!pip install random`<br>
`import random`

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [6]:
# Your code here
sample_list_1 = random.sample(range(101), 80)
print(sample_list_1)

[41, 19, 45, 30, 10, 86, 48, 31, 62, 40, 49, 73, 81, 35, 22, 4, 85, 97, 39, 64, 59, 53, 69, 95, 18, 75, 42, 70, 87, 80, 11, 99, 29, 74, 17, 93, 27, 0, 6, 21, 2, 13, 8, 32, 44, 63, 83, 71, 89, 46, 100, 88, 96, 79, 37, 92, 77, 47, 55, 50, 1, 20, 65, 34, 60, 3, 54, 36, 33, 52, 82, 28, 57, 94, 98, 38, 56, 5, 58, 51]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [10]:
# Your code here
set1 = set(sample_list_1)
len(set1)
#Yes, the lenght is still 80

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [29]:
# Your code here

sample_list_2 = []
for i in range(80):
    sample_list_2.append(random.randint(0, 100))
                         
print(sample_list_2)

[74, 14, 56, 74, 37, 87, 95, 45, 64, 60, 51, 51, 12, 13, 21, 48, 75, 9, 29, 97, 99, 29, 87, 58, 38, 82, 92, 72, 44, 17, 52, 70, 60, 58, 69, 5, 30, 43, 52, 48, 87, 16, 36, 1, 65, 7, 77, 76, 54, 93, 32, 13, 44, 8, 77, 74, 79, 41, 70, 56, 14, 42, 67, 77, 26, 95, 33, 33, 0, 12, 43, 5, 83, 21, 50, 72, 10, 29, 72, 56]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [30]:
# Your code here
set2 = set(sample_list_2)
len(set2)
# No, the lenght is lower because if we turn a list with repetitive values into a set, the set only takes into account each value, regardless of the number of times appears.

53

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [33]:
# Your code here
set3 = set1.difference(set2)
print(set3)

{2, 3, 4, 6, 11, 18, 19, 20, 22, 27, 28, 31, 34, 35, 39, 40, 46, 47, 49, 53, 55, 57, 59, 62, 63, 71, 73, 80, 81, 85, 86, 88, 89, 94, 96, 98, 100}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [34]:
# Your code here
set4 = set2.difference(set1)
print(set4)

{67, 7, 72, 9, 43, 12, 76, 14, 16, 26}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [36]:
# Your code here
set5 = set1.intersection(set2)
print(set5)

{0, 1, 5, 8, 10, 13, 17, 21, 29, 30, 32, 33, 36, 37, 38, 41, 42, 44, 45, 48, 50, 51, 52, 54, 56, 58, 60, 64, 65, 69, 70, 74, 75, 77, 79, 82, 83, 87, 92, 93, 95, 97, 99}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formula to represent that relationship. Test your formula with Python code. Eg.: 

- my age is 30
- my son is 10
- my dad's twice my age
- my grandmother is three times my age minus my son's_age


A formula relating all these values would be:

`my_grandmother = my_age + my_dad's_age - my_sons_age`

Does this evaluate to True or to False?

In [39]:
# Your code here
print(len(set1)) # random list
print(len(set2)) # random list turn into a set
print(len(set3)) # elements present in set1 but not in set2
print(len(set4)) # elements present in set2 but not in set1
print(len(set5)) # elements shared between set1 and set2

80
53
37
10
43

In [42]:
len(set1) == len(set3) + len(set5)

True

In [43]:
len(set2) == len(set4) + len(set5)

True

In [ ]:
# Yes, the formulas evaluate if it is True or False.

#### Create an empty set called `set6`.

In [44]:
# Your code here
set6 = set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [48]:
# Your code here
set6 = set3.union(set5)
set6.update()
print(set6)

{0, 1, 2, 3, 4, 5, 6, 8, 10, 11, 13, 17, 18, 19, 20, 21, 22, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 62, 63, 64, 65, 69, 70, 71, 73, 74, 75, 77, 79, 80, 81, 82, 83, 85, 86, 87, 88, 89, 92, 93, 94, 95, 96, 97, 98, 99, 100}

#### Check if `set1` and `set6` are equal.

In [49]:
# Your code here
set1 == set6

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [53]:
# Your code here
set2.issubset(set1)

False

In [54]:
set3.issubset(set1)

True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [56]:
# Your code here
new_set = set3.union(set4, set5)
new_new_set = new_set.union(set1, set2)

#### Using the `pop` method, remove the first element from `set1`.

In [58]:
# Your code here
set1.pop()

0

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [59]:
# Your code here
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

for i in list_to_remove:
    if i in set1:
        set1.remove(i)
print(set1)

{2, 3, 4, 5, 6, 8, 10, 13, 17, 18, 20, 22, 27, 28, 30, 32, 33, 34, 35, 36, 37, 38, 40, 42, 44, 45, 46, 47, 48, 50, 52, 53, 54, 55, 56, 57, 58, 60, 62, 63, 64, 65, 70, 73, 74, 75, 77, 80, 82, 83, 85, 86, 87, 88, 92, 93, 94, 95, 96, 97, 98, 100}