## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [61]:
import random

⚠️ Did you get: module not found? Try, in a cell: <br>
`!pip install random`<br>
`import random`

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [8]:
population = list(range(101))
sample_list_1 = random.sample(population, 80)
print(sample_list_1)

[82, 84, 65, 16, 98, 11, 60, 70, 44, 87, 52, 96, 31, 69, 8, 67, 88, 46, 63, 32, 9, 61, 50, 85, 92, 5, 13, 49, 20, 42, 43, 73, 10, 48, 64, 95, 2, 86, 28, 75, 14, 78, 30, 26, 54, 99, 24, 23, 19, 93, 7, 6, 89, 35, 90, 1, 38, 56, 91, 68, 80, 22, 12, 41, 51, 74, 83, 4, 72, 17, 55, 58, 53, 76, 3, 25, 100, 15, 21, 97]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [13]:
set1 = set(sample_list_1)
print(set1)
len(set1)

print("The lenght is still 80 because each value from the sample_list_1 is unique")

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 19, 20, 21, 22, 23, 24, 25, 26, 28, 30, 31, 32, 35, 38, 41, 42, 43, 44, 46, 48, 49, 50, 51, 52, 53, 54, 55, 56, 58, 60, 61, 63, 64, 65, 67, 68, 69, 70, 72, 73, 74, 75, 76, 78, 80, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 95, 96, 97, 98, 99, 100}
The lenght is still 80 because echa value from the sample_list_1 is unique

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [14]:
sample_list_2 = []
for i in range(80):
    sample_list_2.append(random.randint(0, 100))

print(sample_list_2)

[6, 72, 29, 33, 20, 14, 30, 13, 89, 13, 21, 11, 87, 19, 75, 54, 8, 34, 61, 94, 0, 17, 1, 60, 23, 43, 53, 22, 23, 33, 28, 53, 93, 59, 0, 46, 27, 91, 87, 52, 19, 36, 28, 47, 94, 82, 18, 3, 76, 86, 61, 12, 40, 85, 17, 85, 53, 43, 88, 39, 40, 93, 12, 40, 93, 70, 92, 67, 66, 86, 61, 13, 77, 87, 83, 82, 24, 59, 31, 50]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [24]:
set2 = set(sample_list_2)
print(set2)
print(len(set2))

print("In this case, the lenght is less than 80 because values from the sample_list_2 are not unique ")

{0, 1, 3, 6, 8, 11, 12, 13, 14, 17, 18, 19, 20, 21, 22, 23, 24, 27, 28, 29, 30, 31, 33, 34, 36, 39, 40, 43, 46, 47, 50, 52, 53, 54, 59, 60, 61, 66, 67, 70, 72, 75, 76, 77, 82, 83, 85, 86, 87, 88, 89, 91, 92, 93, 94}
55
In this case, the lenght is less than 80 because values from the sample_list_2 are not unique

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [26]:
set3 = set1 - set2
print(set3)

{2, 4, 5, 7, 9, 10, 15, 16, 25, 26, 32, 35, 38, 41, 42, 44, 48, 49, 51, 55, 56, 58, 63, 64, 65, 68, 69, 73, 74, 78, 80, 84, 90, 95, 96, 97, 98, 99, 100}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [27]:
set4 = set2 - set1
print(set4)

{0, 33, 34, 66, 36, 39, 40, 59, 77, 47, 18, 27, 29, 94}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [29]:
set5 = set1 & set2
print(set5)

{1, 3, 6, 8, 11, 12, 13, 14, 17, 19, 20, 21, 22, 23, 24, 28, 30, 31, 43, 46, 50, 52, 53, 54, 60, 61, 67, 70, 72, 75, 76, 82, 83, 85, 86, 87, 88, 89, 91, 92, 93}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formula to represent that relationship. Test your formula with Python code. Eg.: 

- my age is 30
- my son is 10
- my dad's twice my age
- my grandmother is three times my age minus my son's_age


A formula relating all these values would be:

`my_grandmother = my_age + my_dad's_age - my_sons_age`

Does this evaluate to True or to False?

In [52]:
length1 = len(set1)
length2 = len(set2)
length3 = len(set3)
length4 = len(set4)
length5 = len(set5)

In [53]:
length1 == length3 + length5

True

In [54]:
length2 == length4 + length5

True

#### Create an empty set called `set6`.

In [55]:
set6 = set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [59]:
set6.update(set3)
set6.update(set5)

#### Check if `set1` and `set6` are equal.

In [58]:
set1 == set6

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.

In [60]:
set1.issubset(set2)

False

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [69]:
set_union = set3.union(set4, set5)
set_agregate = set_union.union(set1, set5)
set_union == set_agregate

True

#### Using the `pop` method, remove the first element from `set1`.

In [66]:
first_element = set1.pop()

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [68]:
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

for i in list_to_remove:
    if i in set1:
        set1.remove(i)
print(set1)

{2, 3, 4, 5, 6, 7, 8, 10, 12, 13, 14, 15, 16, 17, 20, 22, 23, 24, 25, 26, 28, 30, 32, 35, 38, 42, 43, 44, 46, 48, 50, 52, 53, 54, 55, 56, 58, 60, 63, 64, 65, 67, 68, 70, 72, 73, 74, 75, 76, 78, 80, 82, 83, 84, 85, 86, 87, 88, 90, 92, 93, 95, 96, 97, 98, 100}