## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [1]:
import random

⚠️ Did you get: module not found? Try, in a cell: <br>
`!pip install random`<br>
`import random`

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [80]:
# Your code here
import random

sample_list_1 = random.sample(range(1, 100), 80)

print(sample_list_1)

[18, 69, 35, 25, 85, 36, 55, 5, 73, 40, 82, 98, 12, 81, 53, 3, 34, 87, 84, 86, 37, 20, 88, 31, 21, 32, 76, 14, 56, 33, 13, 47, 44, 24, 6, 29, 66, 89, 48, 2, 46, 64, 59, 94, 26, 61, 30, 11, 45, 49, 91, 16, 39, 41, 43, 75, 28, 22, 42, 67, 80, 17, 70, 54, 10, 96, 97, 50, 8, 78, 95, 90, 63, 72, 99, 7, 52, 1, 57, 74]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [81]:
# Your code here
set1 = set(sample_list_1)
print(set1)

if len(set1) == 80:
    print('still the same length')

{1, 2, 3, 5, 6, 7, 8, 10, 11, 12, 13, 14, 16, 17, 18, 20, 21, 22, 24, 25, 26, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 52, 53, 54, 55, 56, 57, 59, 61, 63, 64, 66, 67, 69, 70, 72, 73, 74, 75, 76, 78, 80, 81, 82, 84, 85, 86, 87, 88, 89, 90, 91, 94, 95, 96, 97, 98, 99}
still the same length

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [82]:
# Your code here
import random

sample_list_2 = []

for i in range(80):
    num = random.randint(1, 100)
    sample_list_2.append(num)

print(sample_list_2)

[81, 16, 97, 18, 24, 99, 62, 99, 87, 94, 64, 70, 29, 57, 98, 27, 54, 92, 14, 53, 42, 70, 96, 71, 50, 33, 18, 11, 81, 24, 9, 3, 33, 72, 85, 83, 46, 64, 20, 65, 25, 51, 99, 4, 93, 25, 92, 6, 24, 29, 55, 95, 41, 91, 75, 74, 79, 100, 34, 49, 43, 26, 81, 18, 64, 21, 2, 67, 78, 91, 89, 32, 66, 17, 13, 37, 55, 15, 31, 93]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [83]:
# Your code here
set2 = set(sample_list_2)
print(set2)

if len(set2) == 80:
    print('still the same length')
elif len(set2) < 80:
    print('the set have less than 80 values')

{2, 3, 4, 6, 9, 11, 13, 14, 15, 16, 17, 18, 20, 21, 24, 25, 26, 27, 29, 31, 32, 33, 34, 37, 41, 42, 43, 46, 49, 50, 51, 53, 54, 55, 57, 62, 64, 65, 66, 67, 70, 71, 72, 74, 75, 78, 79, 81, 83, 85, 87, 89, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100}
the set have less than 80 values

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [84]:
# Your code here
set3 = set1.difference(set2)
print(set3)

{1, 5, 7, 8, 10, 12, 22, 28, 30, 35, 36, 39, 40, 44, 45, 47, 48, 52, 56, 59, 61, 63, 69, 73, 76, 80, 82, 84, 86, 88, 90}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [85]:
# Your code here
set4 = set2.difference(set1)
print(set4)

{65, 4, 100, 71, 9, 15, 79, 51, 83, 27, 92, 93, 62}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [87]:
# Your code here
set5 = set1.intersection(set2)
print(set5)

{2, 3, 6, 11, 13, 14, 16, 17, 18, 20, 21, 24, 25, 26, 29, 31, 32, 33, 34, 37, 41, 42, 43, 46, 49, 50, 53, 54, 55, 57, 64, 66, 67, 70, 72, 74, 75, 78, 81, 85, 87, 89, 91, 94, 95, 96, 97, 98, 99}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formula to represent that relationship. Test your formula with Python code. Eg.: 

- my age is 30
- my son is 10
- my dad's twice my age
- my grandmother is three times my age minus my son's_age


A formula relating all these values would be:

`my_grandmother = my_age + my_dad's_age - my_sons_age`

Does this evaluate to True or to False?

In [105]:
# Your code here
len(set1), len(set2), len(set3), len(set4), len(set5)

(80, 62, 31, 13, 49)

In [107]:
# Your code here
print(len(set3) == len(set1) - len(set2))
print(len(set4) == len(set2) + len(set1))
print(len(set5) == len(set1) + len(set2))
print(len(set1) == len(set3) + len(set5))
print(len(set5) == len(set1) - len(set3))


len(set2) + len(set3) == len(set1) - len(set3) + len(set4)

False
False
False
True
True

False

#### Create an empty set called `set6`.

In [116]:
# Your code here
set6 = {}
print(set6)

{}

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [117]:
# Your code here
set6 = set3.union(set5)
print(set6)

{1, 2, 3, 5, 6, 7, 8, 10, 11, 12, 13, 14, 16, 17, 18, 20, 21, 22, 24, 25, 26, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 52, 53, 54, 55, 56, 57, 59, 61, 63, 64, 66, 67, 69, 70, 72, 73, 74, 75, 76, 78, 80, 81, 82, 84, 85, 86, 87, 88, 89, 90, 91, 94, 95, 96, 97, 98, 99}

#### Check if `set1` and `set6` are equal.

In [124]:
# Your code here
for i in set1:
    if set1 == set6:
        print('they are equal')
    else:
        print('they are not equal')
    break

they are equal

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [128]:
# Your code here
for i in set1:
    if set1.issubset(set2):
        print('set1 contain set2')
    else:
        print('set1 do not contain set2')
    if set1.issubset(set3):
        print('set1 contain set3')
    else:
        print('set1 do not contain set3')
    break

set1 do not contain set2
set1 do not contain set3

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [132]:
# Your code here
union_3_4_5 = set3.union(set4, set5)
union_1_2 = set1.union(set2)

union_1_2 == union_3_4_5

True

#### Using the `pop` method, remove the first element from `set1`.

In [133]:
# Your code here
print(set1)
set1.pop()
print(set1)

{1, 2, 3, 5, 6, 7, 8, 10, 11, 12, 13, 14, 16, 17, 18, 20, 21, 22, 24, 25, 26, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 52, 53, 54, 55, 56, 57, 59, 61, 63, 64, 66, 67, 69, 70, 72, 73, 74, 75, 76, 78, 80, 81, 82, 84, 85, 86, 87, 88, 89, 90, 91, 94, 95, 96, 97, 98, 99}
{2, 3, 5, 6, 7, 8, 10, 11, 12, 13, 14, 16, 17, 18, 20, 21, 22, 24, 25, 26, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 52, 53, 54, 55, 56, 57, 59, 61, 63, 64, 66, 67, 69, 70, 72, 73, 74, 75, 76, 78, 80, 81, 82, 84, 85, 86, 87, 88, 89, 90, 91, 94, 95, 96, 97, 98, 99}

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [142]:
# Your code here
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

if i in set1:
    set1.remove(element)

print('final values ', set1)

final values  {2, 3, 5, 6, 7, 8, 10, 11, 12, 13, 14, 16, 17, 18, 20, 21, 22, 24, 25, 26, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 52, 53, 54, 55, 56, 57, 59, 61, 63, 64, 66, 67, 69, 70, 72, 73, 74, 75, 76, 78, 80, 81, 82, 84, 85, 86, 87, 88, 89, 90, 91, 94, 95, 96, 97, 98, 99}